body{
    background: linear-gradient(25deg,white,brown,50%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
}

.container{
    background-color: rgb(126, 130, 130);
    border-radius: 16px;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 20px;
    margin-bottom: 1rem;
}
.stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.timer{
    font-size: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    animation: pulse 1.5s infinite alternate;
}


@keyframes pulse{
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

.timer span{
    width : 110px;
    display: inline-block;
    text-align: center;
}

.controls{
   display: flex;
   gap:1rem;
}

button{
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color:white;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


button:hover{
    background-color: lightcyan;
}

.lap-title{
    font-size: 1.5rem;
}

.laps{
    width:100%;
}

ul{
    list-style-type: none;
    padding :5px;
    margin: 0;
    overflow-y:auto ;
    max-height: 200px;
    background-color: white;
    border-radius: 8px;    
}


li{
 padding : 1rem ;
 border-bottom :1px solid white;   
}


li:last-child{
 border-bottom: none;
}

li span{
    font-weight: 700 ;
}

